# STM32 SPI driver configuration options

# Copyright (c) 2015-2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig FMC_STM32
	bool "STM32 MCU FMC controller driver"
	depends on SOC_FAMILY_STM32
	select USE_STM32_LL_FMC
	help
	  Enable FMC support on the STM32 family of processors.

if FMC_STM32

config FMC_0
	bool "FMC port 0"
	help
	  Enable FMC controller port 0.

endif # FMC_STM32
